.carousel-container {
  width: 930px; /* Sabit genişlik ayarlandı */
  height: 460px; /* Sabit yükseklik ayarlandı */
  margin: 0 auto;
  border: 4px solid #f0dfdf;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  display: block;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resimlerin çerçeveyi tam doldurması sağlandı */
  object-position: center; /* Resmin ortasının görünmesini sağladı */
  display: block; /* Resimlerin blok olarak yerleştirilmesi sağlandı */
}

@media (max-width: 767.98px) {
  .carousel-container {
    width: 930px; /* Mobil cihazlar için bile genişlik sabit kaldı */
    height: 460px; /* Yükseklik sabit kaldı */
    max-width: 930px; /* Maksimum genişlik sınırı korundu */
  }

  .carousel-image {
    object-fit: cover; /* Mobilde de görüntünün tam oturması sağlandı */
    object-position: center; /* Resmin ortasının görünmesini sağladı */
    height: 460px; /* Yükseklik sabit tutuldu */
  }
}
