.carousel-container {
  width: 100%;
  max-width: 600px; /* Slayt genişliği küçültüldü */
  min-height: auto;
  height: 400px; /* Slayt yüksekliği küçültüldü */
  margin: 0 auto;
  border: 1px solid #978f8f;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
