/* ForgotPassword.css */
body {
    background-image: url("../img/back.jpg");
    font-family: 'Roboto', sans-serif;
  }
  
  .forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .forgot-password-container h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
  }
  
  .forgot-password-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgot-password-container label {
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
    align-self: flex-start;
    font-size: 14px;
  }
  
  .forgot-password-container input {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .forgot-password-container input:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
  }
  
  .forgot-password-container button {
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
    font-weight: 500;
    margin-bottom: 10px; /* Butonlar arasında boşluk ekliyoruz */
  }
  
  .forgot-password-container button:hover {
    background-color: #218838;
  }
  
  .forgot-password-container .login-button {
    background-color: #007bff;
    margin-top: 10px; /* Üstteki buton ile aralarına boşluk bırakıyoruz */
  }
  
  .forgot-password-container .login-button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 480px) {
    .forgot-password-container {
      width: 90%;
      padding: 20px;
    }
  
    .forgot-password-container h2 {
      font-size: 22px;
    }
  
    .forgot-password-container input, .forgot-password-container button {
      font-size: 14px;
    }
  }
  