@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:wght@400&display=swap");

.header-container {
  background: linear-gradient(135deg, #0d1f4b, #003087);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.header-container:hover {
  background: linear-gradient(135deg, #0a1a3e, #002573);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.header-logo {
  width: 140px; /* Logonun boyutunu büyüttük */
  height: auto;
  animation: fadeIn 2s ease-in-out;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(0 0 50px rgba(255, 255, 255, 0.5));
  cursor: pointer; /* Bayrak tıklanabilir yapıldı */
}

.kudi-logo {
  width: 180px; /* Sadece kudiImage (log10.png) boyutu büyütüldü */
}

.header-logo:hover,
.kudi-logo:hover {
  transform: scale(1.05) translateY(-3px);
  filter: drop-shadow(0 0 15px rgba(255, 215, 0, 0.8));
}

.header-content {
  text-align: center;
}

.header-title {
  font-size: 42px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  position: relative;
  animation: slideIn 1.5s ease-out;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease, color 0.5s ease;
  color: #ffffff; /* Yazı rengi beyaz olacak şekilde düzenlendi */
  display: inline-block;
  margin: 0;
}

.header-title .underline {
  display: block;
  width: 100%; /* Sürekli aktif olacak şekilde genişliği ayarladık */
  height: 3px;
  background-color: white;
  margin-top: 5px;
}

.header-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #c9d1d9;
  margin-top: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 215, 0, 1);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .header-title {
    font-size: 32px;
  }

  .header-logo {
    width: 100px; /* Mobil görünümde bayrak logosu boyutu */
    margin: 0px 0;
  }

  .kudi-logo {
    width: 140px; /* Mobilde log10.png biraz daha büyütüldü */
  }

  .header-subtitle {
    font-size: 26px;
  }
}
