/* Login ekranına özel stiller */
.login-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: url("../img/back.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  animation: fadeIn 1s ease-in-out; /* Sayfa yüklendiğinde fade-in animasyonu */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  animation: slideInFromTop 1s ease-in-out; /* Giriş kutusu için slide-in animasyonu */
}

.login-box {
  width: 100%;
  background: rgba(255, 255, 255, 0.9); /* Saydamlığı artırdık */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Gölgeyi artırdık */
  text-align: center;
}

.login-logo {
  max-width: 120px;
  margin-bottom: 20px;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
}

.error-message {
  color: #d9534f;
  margin-bottom: 1rem;
}

.login-button,
.signup-button,
.forgot-password-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
}

.login-button:hover,
.signup-button:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Butonlar hover durumunda büyür */
}

.signup-button {
  background-color: #28a745;
  color: #fff;
}

.signup-button:hover {
  background-color: #218838;
}

.forgot-password-button {
  background-color: transparent;
  color: #007bff;
  text-decoration: underline;
  padding: 0.5rem;
  margin-top: 10px;
}

.forgot-password-button:hover {
  color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
